/* line 23, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
body {
  font: 16px/1.5 'Montserrat', sans-serif;
}

/* line 26, C:/Users/Evan/Sites/brockport_umc/assets/app.sass */
h1, h2, h3, p, li, figure, body {
  margin: 0;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}

section, footer {
  padding: 50px 0;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 30px;
  position: relative;
}

.hero {
  background: url("candlelight.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 30px 0 0;
  color: #fdfdfd;
  height: 350px;
}

.hero .inner-wrapper {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  height: 100%;
}

.hero__title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.hero__title img {
  margin-right: 10px;
  max-height: 100px;
}

.hero__info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 30px;
  left: 0px;
  width: 100%;
}

@media (max-width: 950px) {
  .hero__info {
    flex-wrap: wrap;
  }
}

.hero__info__schedule {
  float: left;
  display: flex;
}

.hero__info__schedule__sessions {
  text-align: right;
  margin-right: 1em;
}

.hero__info__schedule__times {
  font-weight: bold;
}

.hero__info__address {
  float: left;
}

.mission_statement {
  background: #225173;
  text-align: center;
  width: 100%;
}

.mission_statement blockquote {
  font-size: 1.75em;
  line-height: 1.5;
  margin: auto;
  margin-top: 0;
  width: 60%;
  color: #fdfdfd;
}

.action-btn {
  background-color: #fad163;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 15px black;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  padding: 1em 2em;
  transition: background-color 0.25s;
}

.action-btn:hover {
  background-color: #fff7d7;
}

.pastor {
  background: #efefef;
  min-height: 350px;
}

.article img {
  display: block;
  margin-bottom: 2em;
  width: 100%;
}

@media (min-width: 650px) {
  .article img {
    float: left;
    max-width: 350px;
    margin: 0 2em 1em 0;
    width: auto;
  }
}

.article p {
  margin: 1em 0;
}

.calendar {
  background: white;
  width: 100%;
}

.calendar__embed {
  display: flex;
  justify-content: center;
}

.footer {
  background: #225173;
  color: #fdfdfd;
}

.footer a {
  color: #fad163; 
}

.footer .inner-wrapper {
  display: flex;
}

.footer__col {
  box-sizing: border-box;
  padding-right: 2em;
  width: 33%;
}

@media (max-width: 650px) {
  .footer .inner-wrapper {
    display: block;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col:not(:last-child) {
    margin-bottom: 30px;
  }
}

.footer__col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__col li {
  margin: 0.5em 0;
}

.footer__col strong {
  display: block;
}

.accessibility {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3em;
  opacity: 0.75;
  width: 80%;
}

.makenna-memorial {
  background: #702963 url("makenna-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  text-align: center;
}